/* your CSS here */
* { 
  
}


.card{
    display:flex;
    justify-content: space-around;
    width:auto;
    height:550px;
    margin: 20px;
}

.image {
    height:300px;
    width:auto;
}

p:nth-child(1){
    font-size: 1rem;
    font-weight: bold;
}

p:nth-child(2){
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
}

p:nth-child(3){
    margin-top:20px;
    font-size: 16px;

}